OPENAI_API_KEY=""
OPENAI_MODEL_NAME=""


FIRECRAWL_API_KEY=""

AZURE_POSTGRES_CONNECTION_STRING="postgresql://<user_name>:<password>@<Host_name>:5432/postgres?sslmode=require"



AZURE_BLOB_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=<storageaccount_name>;AccountKey=<key>/*************==;EndpointSuffix=core.windows.net"


LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""